---
import Layout from "../../layouts/Layout.astro";
import MCD from '../../components/discrete/MCD.tsx'
---

<Layout>
    <h1>Matemática Discreta</h1>
    <section id="section-mcd">
        <h2>Máximo Común Divisor</h2>
        <MCD client:load/>
    </section>
</Layout>