---
import { MathTable } from '../components/general/MathTable';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1>Bienvenido a Math 👋</h1>
	<section class="mt-5 grid grid-cols-1 gap-10 md:grid-cols-3 md:gap-0">
		<article class="md:col-span-1">
			<p class="mb-5">Calcule en el área de la matemática que necesite</p>
			<ul class="flex flex-col gap-3">
				<li>
					<a href="/discrete" class="btn-secondary">Matemática Discreta</a>
				</li>
				<li>
					<a href="/calculus" class="btn-secondary">Cálculo Diferencial e Integral</a>
				</li>
				<li>
					<a href="/linear_algebra" class="btn-secondary">Álgebra Lineal</a>
				</li>
			</ul>
		</article>
		<article class="md:col-span-2">
			<MathTable client:load/>
		</article>
	</section>
</Layout>
